{
  "globals": {
    "sinon": true,
    "sandbox": true
  },
  "env": {
    "node": true,
    "mocha": true,
    "amd": true,
    "browser": true,
    "jasmine": true,
    "jquery": true,
    "es6": true
  },
  "plugins": [
    "mocha",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "block-scoped-var": "error",
    "brace-style": ["error", "1tbs"],
    "callback-return": "error",
    "camelcase": ["error", {"properties": "never"}],
    "comma-dangle": ["error", "never"],
    "comma-spacing": "error",
    "comma-style": ["error", "last"],
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": true }],
    "curly": ["error", "multi-line"],
    "dot-notation": ["error", { "allowKeywords": true }],
    "eol-last": "error",
    "eqeqeq": "error",
    "handle-callback-err": ["error", "^(err|error)$"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true,
      "overrides": {
        "function": { "before": false }
      }
    }],
    "mocha/no-exclusive-tests": "error",
    "new-cap": ["error", {"capIsNewExceptions": ["jQuery.Event", "$.Event", "$.Deferred"]}],
    "new-parens": "error",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-caller": "error",
    "no-catch-shadow": "off",
    "no-cond-assign": "error",
    "no-constant-condition": "error",
    "no-control-regex": "off",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-else-return": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": ["error", "functions"],
    "no-extra-semi": "error",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": ["error", { "allowLoop": true, "allowSwitch": true }],
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-mixed-requires": ["error", { "grouping": false }],
    "no-mixed-spaces-and-tabs": ["error", false],
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "no-native-reassign": "error",
    "no-negated-in-lhs": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-path-concat": "error",
    "no-process-exit": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-regex-spaces": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-sparse-arrays": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-underscore-dangle": "off",
    "no-unneeded-ternary": "error",
    "no-unreachable": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", { "args": "after-used", "vars": "all" }],
    "no-use-before-define": "error",
    "no-with": "error",
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single", "avoid-escape"],
    "radix": "error",
    "react/display-name": "off",
    "react/jsx-no-undef": "error",
    "react/jsx-sort-props": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-multi-comp": "off",
    "react/no-unknown-property": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error",
    "react/self-closing-comp": "error",
    "react/wrap-multilines": "error",
    "semi": ["error", "always"],
    "semi-spacing": ["error", {"before": false, "after": true}],
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "strict": ["error", "global"],
    "use-isnan": "error",
    "valid-jsdoc": "error",
    "valid-typeof": "error",
    "yoda": ["error", "never"]
  }
}
