{
  "globals": {
  },
  "env": {
    "node": true,
    "mocha": true,
    "amd": true,
    "browser": true
  },
  "plugins": [
  ],
  "ecmaFeatures": {
  },
  "rules": {
    "quotes": 0,
    "no-underscore-dangle": 0,
    "curly": [2, "multi-line"],
    "camelcase": [2, {"properties": "never"}],
    "space-in-parens": [2, "never"]
  }
}
