{
  "globals": {
  },
  "env": {
    "node": true,
    "mocha": true,
    "amd": true,
    "browser": true,
    "jasmine": true,
    "jquery": true
  },
  "plugins": [
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "block-scoped-var": 2,
    "brace-style": [2, "1tbs"],
    "camelcase": [2, {"properties": "never"}],
    "comma-style": [2, "last"],
    "curly": [2, "multi-line"],
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "no-else-return": 2,
    "no-extra-parens": [2, "all"],
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-self-compare": 2,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"],
    "radix": 2,
    "semi": [2, "always"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "valid-jsdoc": 2
  }
}
